<h1 style="padding-top: 100px; padding-bottom:30px; text-align:center">What are we?</h1>
<p class="lead">
  HipHost connects travelers to locals based on a unique matching algorithm called VelocitiTM. Our formula combines mutual
  demographics, interests & activities to help you meet your perfect local counterpart. Like when a friend comes to visit!
  Travelers on HipHost have the ability to chat, get valuable insight and potentially meet up with hosts that will enrich
  their experience in a given city. In turn, Hosts benefit by earning “Connect Coins” based on a simple review system. These
  “Connect Coins” are converted into cash and deposited to the Host’s Paypal account.
</p>
<p class="lead">
  This system we believe will entice both locals and travelers to connect with one another! From personal experience we have
  found that the best moments abroad or in a new city are when like-minded people from different parts of the world meet
  one another. Our mission is to foster these connections that so many people miss out on when they go to a new place.
</p>