<h1 style="padding-top: 100px; padding-bottom:30px; text-align:center">What are we?</h1>
<p class="lead">
  HipHost connects travelers to locals based on a unique matching algorithm called VelocitiTM. Our formula combines mutual
  demographics, personality traits, interests & activities to help a traveler meet their perfect local counterpart - like
  when a friend comes to visit!
</p>
<p class="lead">
  Travelers on HipHost can chat, get valuable insight & meet up with hosts that help enrich their travel experience. In turn,
  using a simple review system, Hosts benefit by earning “Connect Coins”, which they get rewarded with for giving great advice
  or meeting up with like-minded individuals & showing them the pearls of the city! “Connect Coins” can be converted into
  cash and deposited into the Host’s Paypal account.
</p>
<p class="lead">
  This system (we believe) will entice both locals & travelers to connect with one another! The founding members of HipHost
  believe that the best moments abroad or in a new city are when like-minded people (from different parts of the world) come
  together to interact, share stories & create lifelong bonds in a short space of time.
</p>
<p class="lead">
  Our mission is to foster these connections, ensuring travelers don’t miss out on unforgettable memories all because some
  guys with a great idea were too lazy to bring this app to life! Now go out, get lost in the city and enjoy your new found
  travelling freedom...
</p>