<body>
  <main role="main" class="container">
    <div class="starter-template">
      <h1 style="padding-top: 100px; padding-bottom:30px; text-align:center">HipHost Privacy Policy</h1>
      <p class="lead">This Privacy Policy applies to visitors to and Users of all the services on the HipHost application for mobile devices
        (the “Application”) used in connection with the Services to Users (the “User” or "you") of the Services. The Privacy
        Policy is incorporated into, and is subject to the Terms. As such, it may be revised from time to time. At any time,
        the up to date version of the Terms can be found on the Site and Application. By using the Site, Application and
        Services, you agree to the Privacy Policy and all revisions thereof. If you do not agree, do not use the Site, Application
        or Services.
      </p>
      <p class="lead">AGE RESTRICTIONS You must be eighteen or over to enter and register as a User. Children under eighteen years of age
        are prohibited from using our Site, Application and Services. We do not knowingly collect personally identifiable
        information from persons under 18. If we become aware that a person under 18 has provided us with personal information,
        we will delete such information from our files.
      </p>
      <p class="lead">INFORMATION WE COLLECT During the registration process, you must provide us with certain personally identifiable information
        including, but not limited to, your name, address, email address, phone number and credit card and bank information.
        During registration we will give you opportunity to provide us with additional information, such as your interests,
        hobbies, occupation and other. In some cases we may ask for additional information for security reasons or to provide
        specific services to you. We may retain the details of transactions or payments you make while using the Services.
        However, we will only keep your payment source account number with your consent. We reserve the right to use your
        IP address to determine and publicly share your location. If you send us personal correspondence, such as emails
        or letters, or if other Users or third parties send us correspondence about your activities or postings on the Site
        or Application, we have a right to collect such information into a file that is accessed only by authorized our personnel
        or representatives. We may also collect comments about you made by other Users. There might be a function in the
        Site or Application, under which you may choose to use our referral service to tell a friend or friends about us.
        In this case, we will ask you for your friend's name and email address and email your friend an invitation to him
        or her to visit the Site or Application. We maintain this information for the sole purpose of sending email and tracking
        the status of the referral. Your friend or friends may contact us to request that we remove their email address from
        our records. The Site and Application may contain links to other sites. You shall be aware that we are not responsible
        for the privacy practices of such other sites. We encourage our Users to be aware when they leave our Site or Application
        and to read the privacy statements of each and every web site that collects personal information.
      </p>
      <p class="lead">YOUR ACCESS TO AND CONTROL OVER INFORMATION You can do the following at any time by contacting us via the email address
        or phone number given on our website: (i) see what data we have about you, (ii) change/correct any data we have about
        you, (iii) have us delete any data we have about you, (iv) express any concern you have about our use of your data.
      </p>
      <p class="lead">COOKIES Cookies are small pieces of data that are stored by a user’s web browser on the user’s hard drive for a period
        of time. Cookies may record information a user accesses on one webpage to simplify subsequent interactions with that
        website by the same user, or to use the information to streamline the user's transactions on related webpages. Cookies
        make it easier for a user to move from webpage to webpage and to complete transactions over the Internet. We use
        “cookies” to make the Site and Application easier for you to use and to make our advertising better. The Site and
        Application also uses “cookies” to store and sometimes track information to make your online experience easier and
        more personalized. Most major web browsers are set up so that they will initially accept cookies, but you may modify
        your computer's preferences to issue you an alert when a cookie is downloaded, or to disable the ability of third
        parties to download a cookie to you. If you choose to reject all cookies, there might be areas of the Site and Application
        that may not function properly.
      </p>
      <p class="lead">USE OF COLLECTED INFORMATION We use the information we collect to try to provide a safe, efficient, and customized
        experience. The main aim of use of collected information is to provide our services and features to you, to measure
        and improve those services and features, and to provide you with customer support. We use collected information internally
        to improve our marketing efforts, analyse use of the Site and Application, improve our content and product offerings
        and customize the content of the Site and Application and layout. This allows us to improve the Site, Application
        and Services and better tailor your online experience. We may use collected information to deliver information that,
        in some cases, is targeted to your interests, such as banners and promotions. We may also send you periodic informational
        updates via email, provided telephone numbers or all other contact sources. We may use collected information to resolve
        disputes, troubleshoot problems and enforce any agreements, policies and rules governing the use of the Site, Application
        and Services.
      </p>
      <p class="lead">DISCLOSURE OF COLLECTED INFORMATION We do not sell or rent any of your personal information to third parties for marketing
        purposes without your permission. However, we do provide collected information to our service providers (e.g. credit
        card processing companies, billing services) as reasonably necessary or appropriate to provide the Services. We do
        disclose information in the aggregate to advertisers and for other marketing and promotional purposes. However, in
        these situations, we do not disclose information in any form that could be used to identify you personally such as
        password of your account, credit card number and bank account number. In response to compulsory (required) governmental
        and/or third party inquiries, we may disclose your personal information to comply with a court order, subpoena, and
        search warrant. We expressly reserve the right to disclose your personal information when we have a good faith belief
        that disclosure is necessary to protect our rights, or to enforce our agreements, policies, and rules governing your
        use of the Site and Application, or to cooperate voluntarily with law enforcement inquiries. If the ownership of
        all or substantially all of our business changes, we may transfer your information to the new owner so that the service
        can continue to operate. In such a case, your information would remain subject to the promises made in any pre-existing
        Privacy Policy.
      </p>
      <p class="lead">YOUR USE OF OTHER USERS' INFORMATION You may not use another Users' information, whether private or not, for commercial
        purposes, to spam, to harass, or to make unlawful threats. We reserve the right to terminate those who misuse other
        Users' information or who otherwise violate any user agreements, policies, or rules governing the use of the Site.
      </p>
      <p class="lead">SECURITY We use reasonable security measures to help protect and prevent the loss, misuse, and alteration of the information
        under our control. No method of transmission over the Internet, or method of electronic storage, is 100% secure,
        however. Therefore, we cannot guarantee its absolute security.
      </p>
    </div>

  </main>
</body>