<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <body class="text-center" style="margin-top:5%">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading" style="position: relative; z-index: 1;"><b>Find Locals Like You</b></h1>
        <p style="position: relative; z-index: 1">If you could only eat one food for the rest of your life, what would it be?</p>
        <div class="box" style="position: relative; z-index: 1">
            <input type="search" id="search" placeholder="Search" style="color:black" />
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-search"></span> Search 
              </button>
        </div>
        <hr>
        <p class="lead" style="position: relative; z-index: 1">
          <a href="#" class="btn btn-lg btn-secondary" style="background-color: rgb(60, 191, 175)">Download the App!</a>
        </p>
        <div class="crossfade">
          <figure></figure>
          <figure></figure>
          <figure></figure>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p></p>
        </div>
      </footer>
    </div>
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>