<body style="padding-bottom: 120px">
  <main role="main" class="container">
    <div class="starter-template">
      <h1 style="padding-top: 100px; padding-bottom:30px; text-align:center">Terms and Conditions</h1>
      <p class="lead">Last Updated: 13 July 2018
      </p>
      <p class="lead">These terms and conditions (as amended from time to time, the “Terms”) govern the use of ‘DOMAIN’ platform services
        (the “Services”) provided by HipHost Pty Ltd. and access of such Services through the website www.'DOMAIN' (the “Site”)
        or application for mobile devices (the “Application”).
      </p>
      <p class="lead">Please read these Terms carefully as by using the Site or Application, irrespective of whether you become a registered
        user of the Services or not, you accept these Terms in full. If you disagree with these Terms or any part of these
        Terms, you must not use the Site, Application or Services.
      </p>
      <p class="lead">KEY DEFINITIONS AND INTERPRETATION
      </p>
      <p class="lead">“Content” means text, graphics, images, music, software, audio, video, information or other materials.
      </p>
      <p class="lead">“HipHost” means services that a Local may provide to a Visitor in relation to a specific travel destination (e.g. picking
        up from the airport, showing the best bars and restaurants in town, sightseeing or visiting non-touristic places,
        etc.). The services must comply with local and international legal regulations. Firms or legal entities cannot register
        and provide Show-around services as Locals on the HipHost platform.
      </p>
      <p class="lead">“Connect-Coin-Fee” means an amount due in order for a traveler to connect with a host.
      </p>
      <p class="lead">“Subscriber” means a status that allows travelers to chat and meet local hosts. Membership can be purchased for the
        duration of one month, three months or one year by paying a Membership fee. The payment method for the Membership
        is a recurring subscription-based payment.
      </p>
      <p class="lead">“Subscription Fee” means a fee payable to HipHost for access to the application.
      </p>
      <p class="lead">“Subscription” means an enrolment for subscription-based membership, where you authorise HipHost Pty Ltdor its payment
        processor to charge the applicable recurring subscription fees to your designated billing payment method.
      </p>
      <p class="lead">“Local/Host” means a User - a natural person who creates the Profile via the Site, Application and provides the Show-around
        services.
      </p>
      <p class="lead">“User” means an individual who completes the HipHost account registration process, including but not limited to the
        local-hosts and travelers.
      </p>
      <p class="lead">“User Content” means all Content that a User posts, uploads, publishes, submits or transmits to be made available through
        the Site, Application or Services.
      </p>
      <p class="lead">“you”, “your” and “yours” means you a User of the Site or Application.
      </p>
      <p class="lead">“we”, “us” and “our” are references to HipHost Pty Ltd.
      </p>
      <p class="lead">Interpretation of the Host
      </p>
      <p class="lead">On HipHost, a ‘host’ is a broad definition of a person who resides in a certain location and wishes to share his personal
        local experience with travellers he meets on HipHost so that they could become acquainted with the area from the
        perspective of a local. HipHost local hosts must meet all legal requirements to chat and meet in their area. In some
        cases, and in some locations, this means that a specific license has to be obtained from an appropriate authority.
        ].
      </p>
      <p class="lead">SERVICES
      </p>
      <p class="lead">Description of the Services
      </p>
      <p class="lead">HipHost Pty Ltdmakes available an online platform for the Locals and Visitors to meet online and arrange for the Show-around
        directly with each other.
      </p>
      <p class="lead">By using the Site or Application, the Locals may create profiles (the “Profiles”) that provide information about their
        knowledge of and experience with a specific travel destination, and may make themselves available to offer the Show-around
        to the Visitors. Based on the Profiles, the Visitors may select the Locals to provide the Show-around.
      </p>
      <p class="lead">Visitors can purchase a Membership allowing them to book and contact Locals; however, it does not guarantee the occurrence
        of tours and therefore, all agreements made about city tours as well as payments are solely up to the visitor and
        local to decide and discuss among themselves. Membership Fee is payable to Compassfriends Limited. Membership can
        be purchased for the duration of one month, three months or one year and it is a recurring subscription-based payment.
      </p>
      <p class="lead">Role and responsibilities of HipHost Pty Ltd
      </p>
      <p class="lead">HipHost Pty Ltd is not a tour operator nor it is a travel agent. HipHost Pty Ltd is not responsible for the experience
        between users outside of the space of the application. Its role and responsibilities are strictly limited to (i)
        facilitating the connections between the Host and traveler in arranging for the meet and (ii) processing payment
        transactions between the Host and traveler. With reference to above, you understand and agree that HipHost Pty Ltd
        is not a party to any agreement between the Host and Traveler in relation to the communication.
      </p>
      <p class="lead">Intellectual Property
      </p>
      <p class="lead">All Intellectual Property to the Content (except for the User Content) featured or displayed on the Site or Application
        or via the Services, is the property of HipHost Pty Ltd and is protected by copyright laws, patent and trademark
        laws and other legislation. You will not remove, alter or obscure any copyright, trademark, service mark or other
        proprietary rights notices incorporated in or accompanying the Site, Application or Services.
      </p>
      <p class="lead">Subject to your compliance with these Terms, HipHost Pty Ltd grants you a limited, non-exclusive, non-sublicensable,
        revocable, non-transferrable license to (i) access and use the Site and Application solely in connection with your
        use of the Services, and (ii) access and use any content, information and related materials that may be made available
        through the Services.
      </p>
      <p class="lead">Network Access
      </p>
      <p class="lead">You are responsible for obtaining the data network access necessary to use the Services. You understand that such access
        may involve third-party fees (such as Internet service provider).
      </p>
      <p class="lead">YOUR USE OF THE SERVICES
      </p>
      <p class="lead">User Accounts
      </p>
      <p class="lead">To use all the Services available (including to create a Profile or book a Show-around), you must create 'DOMAIN' account
        either by direct sign up via the Site or Application or by usage of another sign up feature made available by HipHost
        Pty Ltd. Any sign up is subject to you providing the true, accurate and complete personal information (the “Registration
        Data”) as prompted by the relevant sign up feature (collection and use of personal information is governed by our
        Privacy Policy). You undertake to keep your Registration Data accurate and current and thus update your Registration
        Data when relevant.
      </p>
      <p class="lead">You are responsible for any actions that take place while using your 'DOMAIN' account. Keep your username and password
        secure and do not allow anyone else to use them to access the Services. HipHost Pty Ltd is not responsible for any
        loss that results from unauthorized use of your username and password, with or without your knowledge.
      </p>
      <p class="lead">Age Restrictions
      </p>
      <p class="lead">The Site, Application and Services are intended solely for persons who are 18 or older. Any access to or use of the
        Site, Application or Services by anyone under 18 is expressly prohibited. By accessing or using the Site, Application
        or Services you represent and warrant that you are 18 or older.
      </p>
      <p class="lead">Requirements for the Locals/Hosts, Profiles and Meetings
      </p>
      <p class="lead">If you are a traveler, you understand and agree that a host is not an individual involved in professional travel activities.
        A host/local is not a licensed and/or qualified tour guide. He or she is a person, who resides and has knowledge
        of certain area and wishes to share it with the Visitors so that they become acquainted with the area from the perspective
        of a Local.
      </p>
      <p class="lead">As a Local, you may create Profile where you can showcase a range of original local activities and knowledge as well
        as personal information you wish to share with Visitors about you and your area. The Profile will be made public
        to anyone who you are matched with. Travelers will be able to match and chat you. We will monitor all feedback obtained
        from travelers prior to publishing any reviews on your Profile, however we cannot be held liable for any derogatory
        or negative feedback received from Visitors.
      </p>
      <p class="lead">If you are a host/local, you represent and warrant that your Profile and the content within your communications with
        travelers (i) will not breach any agreements you have entered into with any third parties, (ii) will be in compliance
        with all applicable laws, tax requirements, and rules and regulations that may apply, and (iii) will not conflict
        with the rights of third parties.
      </p>
      <p class="lead">Please also note that any meeting by a Host must comply with the following requirement: the meeting has to be in a
        designated HipHost location.
      </p>
      <p class="lead">User Interaction and Conduct
      </p>
      <p class="lead">You are solely responsible for your interactions with other Users, whether online or in person. HipHost Pty Ltd assumes
        no responsibility or liability for any loss or damage resulting from any interaction with other Users of the Services.
        You agree to take reasonable precautions in all interactions with other Users, and conduct any necessary investigation
        before meeting another person. HipHost Pty Ltd is under no obligation to become involved in any disputes between
        Users, but may do so at its own discretion.
      </p>
      <p class="lead">For communications about meetings all Users will be offered a private messaging facility. Such facility must be used
        in a professional, courteous manner and only in relation to HipHost meetings. We reserve the right to monitor and
        suspend any User accounts we suspect of abusing the private messaging facility.
      </p>
      <p class="lead">Sharing your contact details, such as your phone numbers, emails, links to other sites and social networks, is not
        allowed before a booking is confirmed and paid. Communication before booking is for discussing your tour details
        only. Contact details of both parties will be automatically released after booking is confirmed via HipHost payment
        system. In case you bypass the HipHost platform, you isolate yourself from safe payments, customer support in case
        of dispute, refund policies and trustful reputation through our review system. Any attempts to exchange contacts
        before meeting or executing transactions outside of the website can also be a reason for limiting you from using
        our services. If necessary, your internal communication on HipHost can be reviewed by HipHost staff. This is to provide
        you a better support should a conflict arise that requires escalation between you and another user.
      </p>
      <p class="lead">You agree not to use the Services (i) to post or transmit any material which is or may be infringing on intellectual
        property rights of others, harassing, threatening, false, misleading, inflammatory, libellous, an invasion of privacy
        or disclosure of private information, obscene, pornographic, abusive, discriminating, illegal or any material that
        could constitute or encourage conduct that would be considered a criminal offence, violate the rights of any party
        or in other ways may give rise to civil liability or non-compliance with any relevant laws of your local jurisdiction,
        (ii) to sell, promote, or advertise any product or service other than Show-around, (iii) to advertise sexual services,
        (iv) to advertise or promote any illegal product or service, and (v) to promote any political, ethnic, racial or
        religious organisation or belief.
      </p>
      <p class="lead">When using the Site, Application and our Services you shall not (i) send or store material containing software viruses,
        worms, Trojan horses or other harmful computer code, files, scripts, agents or programs, (ii) interfere with or disrupt
        the integrity or performance of the Site or Application or the data contained therein, or our servers or networks,
        (iii) attempt to gain unauthorised access to the Site or Application or its related systems or networks or to any
        other computer system or website, or (iv) take any action that imposes an unreasonably or disproportionately large
        load on our system.
      </p>
      <p class="lead">User Content
      </p>
      <p class="lead">You are solely responsible for all User Content that you upload, post, publish or display or email or otherwise use
        via the Services.
      </p>
      <p class="lead">All User Content submitted by you on the Site or Application or via the Services will be considered non-confidential
        and non-exclusive. You grant to HipHost Pty Ltd a non-exclusive, irrevocable, worldwide, transferable, royalty-free,
        perpetual right to use your User Content in any manner or media now or later developed, with the right to sublicense,
        to use, copy, modify, create derivative works of, distribute, publicly display, publicly perform, and otherwise exploit
        in any manner in all formats and distribution channels.
      </p>
      <p class="lead">We reserve the right to monitor all User Content uploaded to the Site or Application at any time. We may decide, without
        notice to you, to remove, edit or delete any User Content where we consider at our sole discretion that such User
        Content is either bogus or in breach of these Terms. If HipHost Pty Ltd chooses to monitor any User Content, it assumes
        no responsibility for, or any obligation to monitor or remove, such User Content.
      </p>
      <p class="lead">Membership and Subscription Fees
      </p>
      <p class="lead">Visitors can purchase a Membership allowing them to book and contact Locals; however, it does not guarantee the occurrence
        of tours and therefore, all agreements made about city tours as well as payments are solely up to the visitor and
        local to decide and discuss among themselves.
      </p>
      <p class="lead">When you initially subscribe for a Membership you will be charged immediately for the initial period of the Subscription
        at the then-current fee. If you purchase an auto-recurring periodic subscription through an in app purchase, your
        IAP Account will be billed continuously for the subscription until you cancel. Subscription automatically renews
        unless auto-renew is turned off at least 24-hours before the end of the current period. Account will be charged for
        renewal within 24-hours prior to the end of the current period, and identify the cost of the renewal. Subscriptions
        may be managed by the user and auto-renewal may be turned off by going to the user's Subscription section in Account
        Settings after purchase. By agreeing to a Subscription payment plan, you acknowledge that such Services have an initial
        and recurring payment feature and you accept responsibility for all recurring charges prior to cancellation.
      </p>
      <p class="lead">After your initial subscription commitment period, and again after any subsequent subscription period, your subscription
        will automatically continue for an additional equivalent period, at the price you agreed to when subscribing. If
        you do not wish your subscription to renew automatically, or if you want to change or terminate your subscription,
        you will need to log in to your IAP account and follow instructions to cancel your subscription.
      </p>
      <p class="lead">To request a refund, go to iTunes, click on your Apple ID, select “View Apple ID”, sign in if requested, select “Purchase
        History,” find the transaction, and tap “Report Problem.” If you cancel your subscription, you may use your subscription
        until the end of your then-current subscription term; your subscription will not be renewed after your then-current
        term expires. However, you won’t be eligible for a prorated refund of any portion of the subscription fee paid for
        the then-current subscription period.
      </p>
      <p class="lead">WE MAY SUBMIT PERIODIC CHARGES FOR SUBSCRIPTION-BASED PAID SERVICES (E.G., MEMBERSHIP FEE) WITHOUT OBTAINING ANY FURTHER
        AUTHORIZATION FROM YOU, UNTIL YOU TERMINATE THIS AUTHORIZATION OR WISH TO CHANGE YOUR PAYMENT METHOD. SUCH NOTICE
        WILL NOT AFFECT CHARGES SUBMITTED BEFORE WE REASONABLY COULD ACT. TO TERMINATE YOUR AUTHORIZATION OR CHANGE YOUR
        PAYMENT METHOD GO TO YOUR ACCOUNT SETTINGS.
      </p>
      <p class="lead">Auto-renewal for Subscription
      </p>
      <p class="lead">Subscription you have signed up for when purchasing a Membership will be automatically extended for successive renewal
        periods of the same duration as the subscription term originally selected, at the then-current non-promotional rate.
        To change or terminate your Subscription at any time, go to Subscription page or contact customer service at: support@'DOMAIN'
        . If you terminate a Subscription Service, you may use your subscription until the end of your then-current term;
        your subscription will not be renewed after your then-current term expires. However, you won’t be eligible for a
        prorated refund of any portion of the subscription fee paid for the then-current subscription period.
      </p>
      <p class="lead">Cancelling paid Subscription
      </p>
      <p class="lead">To cancel an ongoing, paid Subscription, please go to your Subscription page and follow the process described therein.
        Once you have cancelled your subscription, HipHost Pty Ltd will stop billing you until and unless you re-subscribe
        under your account. Any and all fees paid and charges made prior to cancellation or termination of your account are
        nonrefundable. If you have a recurring monthly subscription, all subscription amounts previously paid – including
        the amount paid for the month in which the cancellation occurs – are nonrefundable.
      </p>
      <p class="lead">Termination
      </p>
      <p class="lead">You agree that HipHost Pty Ltd. in its sole discretion, may suspend or terminate your User’s account (or any part thereof)
        or use of the Services and remove and discard any content within the Service, for any reason. Any suspected fraudulent,
        abusive or illegal activity that may be grounds for termination of your use of the Services, may be referred to appropriate
        law enforcement authorities.
      </p>
      <p class="lead">We reserve the right to terminate your access to the site for any reason or no reason and may terminate your Membership
        upon sending notice to you at the email address you provide in your application for Membership or such other email
        address as you may later provide to us. If we terminate your Membership for breaching this Agreement, you will not
        be entitled to any refund of any unused fees. We reserve the right to use credit card processors or banks inside
        or outside the European Union to process your transactions. In some instances, your bank or credit card issuer may
        charge you a fee for foreign transactions. Before purchasing any service, please check with your bank or credit card
        issuer for more information about its policies regarding foreign transaction fees.
      </p>
      <p class="lead">In case of any violation of legal acts, committed during the process of payments concerning services of the Site, the
        User will be immediately restricted from using the Site and all relevant useful data about User's personal identification
        information will be shared with legal authorities in cooperation for investigation.
      </p>
      <p class="lead">Connect Coins
      </p>
      <p class="lead">A traveler when chatting with a Host will make a payment of connect coins, which are HipHost’s in-app currency. Connect
        Coins allow travelers to chat with their hosts, and conversely allows the Host to benefit from his/her conversation
        with the traveler. The current conversion rate is 2 Connect Coins to $1.
      </p>
      <p class="lead">We will initiate transfer of the Show-around Fee to the Local within 24 hours after receiving the request following
        completion.
      </p>
      <p class="lead">Upfront payments via the HipHost platform are supported only for locals who hold an EEA (European Economic Area) bank
        account. However, you can pay and get paid in the local currency on the day of a tour. Make sure you discuss payment
        methods before going on a tour.
      </p>
      <p class="lead">LIMITATION OF LIABILITY
      </p>
      <p class="lead">We disclaim any and all liability to you for the supply of the Services we provide to you to the fullest extent permissible
        under applicable law. If we are found liable for any loss or damage to you such liability is limited to the amount
        of any service fee that we may have received in respect of which a claim has arisen. We cannot accept any liability
        for any loss, damage or expense, including any direct or indirect loss such as loss of profits, to you howsoever
        arising.
      </p>
      <p class="lead">We do not accept liability for any indirect loss, consequential loss, loss of data, loss of income or profit, loss
        or damage to goodwill, loss or damage to property and/or loss from claims of third parties arising out of the use
        of Site, Application and Services or for any services we may provide to you.
      </p>
      <p class="lead">Your use of the Site, Application and Services is without any warranty or guarantee and is entirely at your own risk.
      </p>
      <p class="lead">We do not accept any liability for any delays, failures, errors or omissions or loss of transmitted information, viruses
        or other contamination or destructive properties transmitted to you or your computer system via the Site and Application.
      </p>
      <p class="lead">INDEMNITY
      </p>
      <p class="lead">You agree to indemnify, defend, and hold harmless us from and against all claims, losses, liabilities, expenses, damages
        and costs, including, without limitation, attorneys' fees, arising from or relating in any way to your User Content,
        your use of the Services and your conduct in connection with the Services or with other Users of the Services, or
        any violation of these Terms, any law or the rights of any third party.
      </p>
      <p class="lead">MODIFICATION OF THE SERVICES
      </p>
      <p class="lead">HipHost Pty Ltd reserves the right to modify or discontinue, temporarily or permanently, the Services or any part thereof
        with or without notice. You agree that HipHost Pty Ltdwill not be liable to you or to any third party for any modification,
        suspension or discontinuance of the Services.
      </p>
      <p class="lead">MISCELLANEOUS
      </p>
      <p class="lead">These Terms constitute the entire and exclusive understanding and agreement between HipHost Pty Ltd and you regarding
        the Site, Application and Services.
      </p>
      <p class="lead">HipHost Pty Ltd may assign its rights and obligations under these Terms to any party at any time without notice to
        you.
      </p>
      <p class="lead">HipHost Pty Ltd may use subcontractors to perform the Services. Such subcontracting parties shall comply with these
        Terms.
      </p>
      <p class="lead">The use of the Services shall not create any joint venture, partnership, employment or similar relations between you
        and HipHost Pty Ltd.
      </p>
      <p class="lead">HipHost Pty Ltd reserves the right to revise these Terms at any time. HipHost Pty Ltd will inform you about any modification
        or change of these Terms by mail, on the Site or Application, via the Services or by other means deemed appropriate
        and adequate by Compassfriends Limited. We will also indicate at the top of this page the date the Terms were last
        revised. By continuing to access or use the Site, Application or Services after we have posted a modification on
        the Site or via the Application or have provided you with notice of a modification, you are indicating that you agree
        to be bound by the modified Terms.
      </p>
      <p class="lead">The failure of HipHost Pty Ltd to enforce any right or provision of these Terms will not constitute a waiver of future
        enforcement of that right or provision.
      </p>
      <p class="lead">Any notices or other communications permitted or required hereunder, including those regarding modifications to these
        Terms, will be in writing and given by HipHost Pty Ltd(i) via email (in each case to the address that you provide)
        or (ii) by posting to the Site or via the Application. For notices made by email, the date of receipt will be deemed
        the date on which such notice is transmitted.
      </p>
    </div>
  </main>
</body>