<!-- source of card code: https://bootsnipp.com/snippets/K3qgX -->
<!-- source of carousel code: https://codepen.io/kreigd/pen/ybYNoN -->

<div class="container-fluid" style="margin-bottom: 5mm">
  <h1 class="text-center mb-3">Bootstrap Multi-Card Carousel</h1>
  <div id="myCarousel" class="carousel slide" style="margin-left:100px; margin-right:100px" data-ride="carousel">
    <div class="carousel-inner row w-100 mx-auto">
      <div class="carousel-item col-md-4 active">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card-base">
                <div class="card-icon">
                  <a href="#" title="Jane Doe" id="widgetCardIcon" class="imagecard">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title" style="color: #bb7824;">Jane Doe</h2>
                    <p class="card-block text-center">Jane showed me around table mountain and offered great advice for the best places to watch the world cup!</p>
                    <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card-base">
                <div class="card-icon">
                  <a href="#" title="Jane Doe" id="widgetCardIcon" class="imagecard">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title" style="color: #bb7824;">Jane Doe</h2>
                    <p class="card-block text-center">Jane showed me around table mountain and offered great advice for the best places to watch the world cup!</p>
                    <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card-base">
                <div class="card-icon">
                  <a href="#" title="Jane Doe" id="widgetCardIcon" class="imagecard">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title" style="color: #bb7824;">Jane Doe</h2>
                    <p class="card-block text-center">Jane showed me around table mountain and offered great advice for the best places to watch the world cup!</p>
                    <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card-base">
                <div class="card-icon">
                  <a href="#" title="Jane Doe" id="widgetCardIcon" class="imagecard">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title" style="color: #bb7824;">Jane Doe</h2>
                    <p class="card-block text-center">Jane showed me around table mountain and offered great advice for the best places to watch the world cup!</p>
                    <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card-base">
                <div class="card-icon">
                  <a href="#" title="Jane Doe" id="widgetCardIcon" class="imagecard">
                    <span class="glyphicon glyphicon-user"></span>
                  </a>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title" style="color: #bb7824;">Jane Doe</h2>
                    <p class="card-block text-center">Jane showed me around table mountain and offered great advice for the best places to watch the world cup!</p>
                    <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item col-md-4">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="card-base">
                  <div class="card-icon">
                    <a href="#" title="Jane Doe" id="widgetCardIcon" class="imagecard">
                      <span class="glyphicon glyphicon-user"></span>
                    </a>
                    <div class="card-data widgetCardData">
                      <h2 class="box-title" style="color: #bb7824;">Jane Doe</h2>
                      <p class="card-block text-center">Jane showed me around table mountain and offered great advice for the best places to watch the world cup!</p>
                      <a href="#" title="Style Builder" class="anchor btn btn-default" style="background: #bb7824; border: #bb7824;">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i>  Explore More </a>
                    </div>
                  </div>
                  <div class="space"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>