<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous">
<div class="pos-f-t" style = "background-color: rgb(60, 191, 175); border-color:rgb(60, 191, 175)">
  <div class="collapse navbar-static-top" id="navbarToggleExternalContent" style="background-color: rgb(60, 191, 175); border-color: white; color: white">
    <div class="p-4">
      <div class="row">
        <div class="column">
          <h3 style="color:white; font:bold; text-align: center; ">Social</h3>
          <a href="/terms-and-conditions" style="border-left:1px solid white; border-right:1px solid white">Blog</a>
          <a href="/privacy" style="border-left:1px solid white; border-right:1px solid white">Instagram Feed</a>
          <a href="/safety" style="border-left:1px solid white; border-right:1px solid white">Follow Us!</a>
        </div>
        <div class="column">
          <h3 style="color:white; font:bold; text-align: center">Company</h3>
          <a href="/about" style="border-left:1px solid white; border-right:1px solid white">About</a>
          <a href="/team" style="border-left:1px solid white; border-right:1px solid white">Meet the Team</a>
          <a href="/contact" style="border-left:1px solid white; border-right:1px solid white">Contact Us</a>
        </div>
        <div class="column">
          <h3 style="color:white; font:bold; text-align: center; ">Legal</h3>
          <a href="/terms-and-conditions" style="border-left:1px solid white; border-right:1px solid white">Terms and Conditions</a>
          <a href="/privacy" style="border-left:1px solid white; border-right:1px solid white">Privacy Policy</a>
          <a href="/safety" style="border-left:1px solid white; border-right:1px solid white">Safety</a>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-static-top" style="border-radius: 0%; background-color: rgb(60, 191, 175)">
    <a class="nav navbar-nav mr-auto" href="#top" style="font-size: 30px; color: white">
      <b>HipHost</b>
    </a>
    <button class="navbar-toggler navbar-nav ml-auto" style="border-color: white; color: white" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><img src="../../assets/img/google-play-badge.png" style= "width: 22px; height: 22px; margin-right:auto; margin-left: auto; display: block"></span>
    </button>
  </nav>
</div>