<body style="padding-bottom: 120px">
  <main role="main" class="container">
    <div class="starter-template">
      <h1 style="padding-top: 100px; padding-bottom:30px; text-align:center">Safety</h1>
      <p class="lead">Last Updated: 13 July 2018
      </p>
      <p class="lead">
        It is expected that HipHost members are honest and aware of their responsibilities both as travelers and hosts. However,
        you should never forget basic safety precautions when meeting a person for the first time.
      </p>
      <p class="lead">
        • If you arrange a meeting with another member, be sure to contact them by phone or webcam beforehand to make sure you are
        meeting with the same person you’ve been contacting.
      </p>
      <p class="lead">• For your own safety, inform a close friend or relative about your plans and whether you are meeting as a host or
        a traveler.
      </p>
      <p class="lead">Please note that HipHost does not take any responsibility for the safety of their members while they are hanging out.
        This website is only a venue for members to chat and set up meetings together. For any additional legal information,
        please refer to the Terms of Service. If you have any further questions, please feel free to contact our support@hiphost.co.za.
      </p>
    </div>
  </main>
</body>